<%- include ('partials/header') %> 
<%- include ('partials/customcss') %> 
<section>
    <div class="container">
        <div class="text-center mb-4">
            <a href="/"> <img class="mb-4 rounded" src="diamond.svg" alt="" width="72" height="72"></a>
        </div>
    </div>
    <div class="container">
        <div class="text-center mb-4">
            <img class="mb-4 rounded" src="404-1.png" height="100">
            <h1 class="text-white"><span class="text-danger">ERROR</span> NOT FOUND</h1>
        </div>
    </div>
    <div class="container">
        <div class="text-center mb-4">
            <img src="https://media.giphy.com/media/S3nSDoF5y3NEVwp5FN/giphy.gif">
        </div>
    </div>
</section>
<%- include ('partials/footer') %> 